<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458991083503-mo4oj6lulmu9qo6bafedsh8a941kalhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458991083503-mo4oj6lulmu9qo6bafedsh8a941kalhp</string>
	<key>API_KEY</key>
	<string>AIzaSyD0t8Sryq_MghkWN3QbzTCcltVyH2XGKN8</string>
	<key>GCM_SENDER_ID</key>
	<string>458991083503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shelley.fuelr</string>
	<key>PROJECT_ID</key>
	<string>fuelr-22721</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelr-22721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458991083503:ios:84dc92a818026a835fa01a</string>
	<key>DATABASE_URL</key>
	<string>https://fuelr-22721.firebaseio.com</string>
</dict>
</plist>